
<%- include partials/head%>

                                       
<%- include partials/mainNavBar%> <!-- Include the navigation bar partial (EJS template) into the current page -->

<%- include partials/landing_page%>

    
<%- include partials/products%>


<%- include partials/about%>

<%- include Auth/login%>

<%- include Auth/register%>

<%- include partials/footer%>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
    <script src="/Scripts/app.js"></script>
</body>
</html>